@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ededed;
  --color-primary: #076bf8;
  --color-primary-hover: #0555c7;
  --color-background-light: #f6f6f6;
  --color-input-border: #374151;
  --color-text-gray: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
    --color-primary: #076bf8;
    --color-primary-hover: #0555c7;
    --color-background-light: #f6f6f6;
    --color-input-border: #374151;
    --color-text-gray: #374151;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

.input-primary {
  border-color: var(--color-input-border);
  border-width: 1px;
  color: var(--color-text-gray);
}

.input-primary:focus {
  outline: none;
  ring-color: var(--color-primary);
  border-color: var(--color-primary);
}

.input-label {
  color: var(--color-text-gray);
  font-weight: 500;
}

.text-primary {
  color: var(--color-primary);
}

.text-primary:hover {
  color: var(--color-primary-hover);
}

.bg-light {
  background-color: var(--color-background-light);
}

.text-gray {
  color: var(--color-text-gray);
}
